html
	head
		title WebGL Compute Demo
		link(href="css/index.css" rel="stylesheet")
	body
		button Go
		//- h3 Source
		//- img#src
		//- h3 Output
		//- img#output
		h3 WebGL
		canvas#webgl(width=256,height=256)
		//- h3 Tmp
		//- canvas#tmp
		script(src="js/index.js")
